.form{
    display: flex;
    flex-direction: column;
}

.form label{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.125rem;
    border-radius: 4px;
}

.form input{
    margin-bottom: 10px;
    width: 600px;
    border: none;
    padding: 15px;
    font-size: 1.1rem;
    background-color: #dae9f8;
    border-bottom: 1px solid black;
    border-radius: 4px 4px 0 0;
}


.form button{
    width: 110px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ebb002;
    border: none;
}